html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 300px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

a[href="#top"]{
  text-decoration: none;
  color: #fff;
}

span {
  display: none;
  z-index: 99;
  position: sticky;
  bottom: 10px;
  margin-left: 99.5%;
  border: none; 
  outline: none; 
  background-color: black;
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 5px; 
}


#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  border-right: 2px solid #4d4e53;
}

#navbar ul {
  height: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}

#navbar a {
  text-decoration: none;
  color: #4d4e53;
  display: block;
  cursor: pointer;
  padding: 15px 30px;
}

#navbar li {
  border-top: 1px solid black;
  list-style: none;
  position: relative;
  width: 100%;
  font-size: 1.03rem;
}

#main-doc{
  font-size: 1.03rem;
  position: absolute;
  top: 0;
  left: 320px;
  padding: 20px 60px 20px 40px;
  text-align: justify;
}

article{
  color: #4d4e53;
  margin: 15px;
}

section li{
  margin-top: 10px;
  margin-left: 20px;
}

header {
  font-size: 1.8rem;
  color: #000;
  margin: 10px;
  text-align: center;
  font-weight: thin;
}

#main-doc header:hover{
  text-decoration: underline;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 30px;
  color: #4d4e53;
  font-size: 0.8rem;
}


@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 3px solid;
  }

  #main-doc {
    position: relative;
    margin-left: -327.5px;
    margin-top: 275px;
    max-width: 95%;
    padding: 15px 20px 5px 28px;
  }

  span{
    margin-top: 30vh;

  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
